{% extends "base.html" %}

{% block title %}About us{% endblock %}
{% load static %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'styles/about_us.css' %}">
</head>
<body>


            <section id="top">
      <img src="/static/toyfactory/images/banner/bg.png" id="bg" />
      <h2 id="text">Welcome to The Toy Factory!</h2>
      <img src="/static/toyfactory/images/banner/spin1.png" id="spin1" />
      <img src="/static/toyfactory/images/banner/spin2.png" id="spin2" />
      <img src="/static/toyfactory/images/banner/left_door.png" id="mountain_left" />
      <img src="/static/toyfactory/images/banner/right_door.png" id="mountain_right" />
    </section>
        <div align="center">
        <div style="width:80%">
            <section>
                <h3 style="color:#008000"><strong>WHO</strong> WE ARE</h3>
                <br>
                <p align="justify"> Toy Factory, LLC, a privately held company, designs, manufactures, markets, and distributes a variety of stuffed toy & novelty products for outdoor amusement parks and attractions, location-based indoor family entertainment centers and vending companies that operate skill crane machines.
                <p align="justify">Toy Factory was formed in the state of Texas in April 1999. Although we are a relatively new company, the members and management of Toy Factory have more than 100 collective years of experience in product design, manufacturing and sales to the amusement market.</p>
                <p align="justify">Toy Factory's mission is straightforward and simple. We aim to supply superior quality, value-oriented products and service to customers operating games in amusement venues. We have established distribution facilities in Texas and Pennsylvania.</p>
            </section>
            <iframe height="720" width="100%" src="https://www.youtube.com/embed/Yk6I1DEKSQk?autoplay=1&mute=1">
            </iframe>
            <section style="margin-top:20px">
                <h3 style="color:#008000">OUR <strong>HISTORY</strong></h3>
                <table cellpadding="10">
                    <tr>
                        <td><h4 style="color:#008000">2021</h4></td>
                        <td>Not resting on our laurels, in 2017 we opened our Representative Office in Nanjing, China, to better oversee and manage all aspects of our supply chain within China. Shortly thereafter, we opened our Nanjing Design Center so we could take direct control over all prototype development for licensed designs. Doing so helped further build upon our long history of success. It has improved turnaround time for all licensed projects and gives us better control over production quality as all production molds originate from this facility. </td>
                    </tr>
                    <tr>
                        <td><h4 style="color:#008000">2011</h4></td>
                        <td>We enjoyed significant growth from 2011 through 2016 largely attributable to our continued growth in licensing during this time period. While our early licensing portfolio was based mostly on long-established evergreen brands, we expanded our licensing program to pursue two to four movie brands per year. These movie brands greatly increased our visibility both among the licensing community and our amusement customer base. These licenses included such cinematic successes as Spiderman 3, Despicable Me, Minions, The Dark Knight, Jurassic Word and Trolls to name just a few. We were named Universal’s Licensee of the Year in 2013. </td>
                    </tr>
                    <tr>
                        <td><h4 style="color:#008000">2006</h4></td>
                        <td>To support the ongoing growth of the company, Toy Factory needed more space and purchased a 215,000sf building where we still reside today. This additional space provided the room necessary to invest in the needed infrastructure to continue growing our market share. A large amount of resources were dedicated to opening a production/filling plant within the overall facility. This critical infrastructure is vital to being able to properly service the amusement industry as it gave us the ability to offer large size midway game plush prizes. With the ability to offer large size midway plush toy prizes we were able to quickly expand market share. We also were soon known to offer the best large size toys in the industry. </td>
                    </tr>
                    <tr>
                        <td><h4 style="color:#008000">2001</h4></td>
                        <td>Seeking to build upon the success of these first couple of years, the owners and managers of Toy Factory felt the best means to increase market share would be to secure licenses in order to offer well established brands to the market. We secured our first agreements for Babe Pig, Beethoven, and The Munsters in 2001. The strategy was to start small to demonstrate our ability to deliver and perform on these smaller brands. The strategy paid off as we were able to establish that we had the technical knowhow to develop and market licensed brands.</td>
                    </tr>
                    <tr>
                        <td><h4 style="color:#008000">1999</h4></td>
                        <td>Toy Factory was formed in April 1999. A small group of experienced industry veterans, all who held various management positions with Play•By•Play Toys & Novelties, banded together to create an amusement toy company in their own vision. The company would focus exclusively on developing, marketing and supplying plush toys to the amusement market. The mission was to provide innovative designs at below market prices while also delivering best in class service to our customers. The company operated in a small 10,000sf leased facility.</td>
                    </tr>
                </table>
            </section>
            <section>
                <div align="center">
                    <div style="width:80%">
                        <table cellpadding="10">
                            <colgroup>
                                <col width="50%">
                                <col width="50%">
                            </colgroup>
                            <tr>
                                <td align="center">
                                    <h3>OUR <strong style="color:#008000">MISSION</strong></h3>
                                    <h5>
                                        is to entertain and connect<br>
                                        generation of fans through the<br>
                                        wonder of storytelling<br>
                                        and exhilaration of play
                                    </h5>
                                </td>
                                <td align="center">
                                    <h3>OUR <strong style="color:#008000">PURPOSE</strong></h3>
                                    <h5>
                                        is to create joy and community <wbr>
                                        for all people around <wbr>
                                        the world, one game, one toy, <wbr>
                                        one story at a time
                                    </h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
            <section>
                <div align="center">
                    <h3 style="color:#008000">OUR <strong>CERTIFICATE</strong></h3>
                  <div id="certificate">
                    <p>
                      <h5>Certificate of compliance with the requirements of the technical regulations of the Eurasian Economic Union </h5>
                      <h6>(technical regulations of the Customs Union)</h6>
                    </p>
                    <p>
                      Company: <b id="name_of_company">Toy Factory</b>
                    </p>
                    <p>
                      <small>Model №33733</small>
                    </p>
                    <hr>
                    <p><small>Registration date:</small> April 6, 2023 <small>Status:</small> Valid</p>
                  </div>
                </div>
            </section>
        </div>
    </div>
</body>
<script src="/static/scripts/banner.js"></script>
</html>

{% endblock %}