{% extends "base.html" %}
{% load static %}

{% block title %}Vacancies{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacancies</title>
    <link rel="stylesheet" href="{% static 'styles/vacancies.css' %}">
</head>
<body>
    <div align="center">
        <div style="width:80%">
            <div align="justify">
                <section id="dialog">
                    <img id="person_1" src="/static/toyfactory/images/vacancies/person_2.png" alt="person_1"/>
                    <div id="dialog_1"> <p>I can't find a job!!</p> </div>
                    <img id="person_2" src="/static/toyfactory/images/vacancies/person_1.png" alt="person_1"/>
                    <div id="dialog_2"> <p>Look at our available vacancies and join our team!!</p> </div>

                </section>
                <div id="vacancies">
                    <h5><strong>Development Program Management Associate 1 - Vehicles</strong></h5>
                    <p>Mattel</p>
                    <ul style="color:#808080">
                        <li><small>Managing multiple projects of varying product types and complexities while maintaining cost and schedule targets.</small></li>
                        <li><small>Working closely with overseas development, tooling, and manufacturing to ensure successful project completion.</small></li>
                    </ul>
                    <details>
                        <summary><em>More...</em></summary>
                        <iframe width="100%" height="280" srcdoc="
                            <html>
                                <body>
                                    <b>What We’re Looking For:</b>
                                    <ul>
                                        <li>BA/ BS Degree in Engineering (Mechanical, Industrial) or related discipline</li>
                                        <li>0-2 years of relevant project management experience.</li>
                                        <li>Proven ability to juggle multiple projects, make quick decisions, and possess excellent problem- solving skills</li>
                                        <li>Comfortable leading cross-functional teams</li>
                                        <li>Excellent organizational skills are must</li>
                                        <li>Must be comfortable with systems and data entry</li>
                                        <li>Relationship building and customer- facing skills</li>
                                    </ul>
                                    <p>The annual base salary range for this position is between $65,000 and $77,000.
                                    **This range is indicative of projected hiring range, however annual base salary will be determined based on a candidate’s work location, skills and experience.</p>
                                    <p>Don’t meet every single requirement? At Mattel we are dedicated to building a diverse and inclusive workplace, so if you’re excited about this role but your past experience doesn’t align perfectly with every qualification in the job description, we encourage you to apply anyway. You may be just the right candidate for this or other roles.</p>
                                    <p><strong>What It’s Like to Work Here:</strong></p>
                                    <p>We are a purpose driven company aiming to empower the next generation to explore the wonder of childhood and reach their full potential. We live up to our purpose employing the following behaviors:</p>
                                    <ul>
                                        <li>We collaborate: Being a part of Mattel means being part of one team with shared values and common goals. Every person counts and working closely together always brings better results. Partnership is our process and our collective capabilities is our superpower.</li>
                                        <li>We innovate: At Mattel we always aim to find new and better ways to create innovative products and experiences. No matter where you work in the organization, you can always make a difference and have real impact. We welcome new ideas and value new initiatives that challenge conventional thinking.</li>
                                        <li>We execute: We are a performance driven company. We strive for excellence and are focused on pursuing best in class outcomes. We believe in accountability and ownership and know that our people are at their best when they are empowered to create and deliver results.</li>
                                    </ul>
                                </body>
                            </html>">
                        </iframe>
                    </details>
                <hr>
                    <h5><strong>Jr. Cost Accountant</strong></h5>
                    <p>Upper Deck</p>
                    <ul style="color:#808080">
                        <li><small>Analyze variances on manufacturing work orders following company's costing system.</small></li>
                        <li><small>Set and maintain accurate standard costs for manufacturing, purchased and project related items.</small></li>
                    </ul>
                    <details>
                        <summary><em>More...</em></summary>
                        <iframe width="100%" height="280" srcdoc="
                            <html>
                                <body>
                                    <b>What We’re Looking For:</b>
                                    <ul>
                                        <li>BA/ BS Degree in Engineering (Mechanical, Industrial) or related discipline</li>
                                        <li>0-2 years of relevant project management experience.</li>
                                        <li>Proven ability to juggle multiple projects, make quick decisions, and possess excellent problem- solving skills</li>
                                        <li>Comfortable leading cross-functional teams</li>
                                        <li>Excellent organizational skills are must</li>
                                        <li>Must be comfortable with systems and data entry</li>
                                        <li>Relationship building and customer- facing skills</li>
                                    </ul>
                                    <p>The annual base salary range for this position is between $65,000 and $77,000.
                                    **This range is indicative of projected hiring range, however annual base salary will be determined based on a candidate’s work location, skills and experience.</p>
                                    <p>Don’t meet every single requirement? At Mattel we are dedicated to building a diverse and inclusive workplace, so if you’re excited about this role but your past experience doesn’t align perfectly with every qualification in the job description, we encourage you to apply anyway. You may be just the right candidate for this or other roles.</p>
                                    <p><strong>What It’s Like to Work Here:</strong></p>
                                    <p>We are a purpose driven company aiming to empower the next generation to explore the wonder of childhood and reach their full potential. We live up to our purpose employing the following behaviors:</p>
                                    <ul>
                                        <li>We collaborate: Being a part of Mattel means being part of one team with shared values and common goals. Every person counts and working closely together always brings better results. Partnership is our process and our collective capabilities is our superpower.</li>
                                        <li>We innovate: At Mattel we always aim to find new and better ways to create innovative products and experiences. No matter where you work in the organization, you can always make a difference and have real impact. We welcome new ideas and value new initiatives that challenge conventional thinking.</li>
                                        <li>We execute: We are a performance driven company. We strive for excellence and are focused on pursuing best in class outcomes. We believe in accountability and ownership and know that our people are at their best when they are empowered to create and deliver results.</li>
                                    </ul>
                                </body>
                            </html>">
                        </iframe>
                    </details>
                <hr>
                    <h5><strong>Designer</strong></h5>
                    <p>Spin Master Ltd</p>
                    <ul style="color:#808080">
                        <li><small>Creation of 2-D renderings and specifications, and oversee 3-D model making for developing product through to production</small></li>
                        <li><small>Liaise closely with Marketing, Quality Assurance, Visual Branding and Product Development teams during the product’s life cycle</small></li>
                    </ul>
                    <details>
                        <summary><em>More...</em></summary>
                        <iframe width="100%" height="280" srcdoc="
                            <html>
                                <body>
                                    <b>What We’re Looking For:</b>
                                    <ul>
                                        <li>BA/ BS Degree in Engineering (Mechanical, Industrial) or related discipline</li>
                                        <li>0-2 years of relevant project management experience.</li>
                                        <li>Proven ability to juggle multiple projects, make quick decisions, and possess excellent problem- solving skills</li>
                                        <li>Comfortable leading cross-functional teams</li>
                                        <li>Excellent organizational skills are must</li>
                                        <li>Must be comfortable with systems and data entry</li>
                                        <li>Relationship building and customer- facing skills</li>
                                    </ul>
                                    <p>The annual base salary range for this position is between $65,000 and $77,000.
                                    **This range is indicative of projected hiring range, however annual base salary will be determined based on a candidate’s work location, skills and experience.</p>
                                    <p>Don’t meet every single requirement? At Mattel we are dedicated to building a diverse and inclusive workplace, so if you’re excited about this role but your past experience doesn’t align perfectly with every qualification in the job description, we encourage you to apply anyway. You may be just the right candidate for this or other roles.</p>
                                    <p><strong>What It’s Like to Work Here:</strong></p>
                                    <p>We are a purpose driven company aiming to empower the next generation to explore the wonder of childhood and reach their full potential. We live up to our purpose employing the following behaviors:</p>
                                    <ul>
                                        <li>We collaborate: Being a part of Mattel means being part of one team with shared values and common goals. Every person counts and working closely together always brings better results. Partnership is our process and our collective capabilities is our superpower.</li>
                                        <li>We innovate: At Mattel we always aim to find new and better ways to create innovative products and experiences. No matter where you work in the organization, you can always make a difference and have real impact. We welcome new ideas and value new initiatives that challenge conventional thinking.</li>
                                        <li>We execute: We are a performance driven company. We strive for excellence and are focused on pursuing best in class outcomes. We believe in accountability and ownership and know that our people are at their best when they are empowered to create and deliver results.</li>
                                    </ul>
                                </body>
                            </html>">
                        </iframe>
                    </details>
                <hr>
                    <h5><strong>TOY PRODUCT TEST ENGINEER II</strong></h5>
                    <p>Bureau Veritas</p>
                    <ul style="color:#808080">
                        <li><small>Knowledge of testing consumer products from laboratory / manufacturing / QA / QC perspective preferred</small></li>
                        <li><small>Ability to organize and prioritize workload to meet or exceed deadlines</small></li>
                    </ul>
                    <details>
                        <summary><em>More...</em></summary>
                        <iframe width="100%" height="280" srcdoc="
                            <html>
                                <body>
                                    <b>What We’re Looking For:</b>
                                    <ul>
                                        <li>BA/ BS Degree in Engineering (Mechanical, Industrial) or related discipline</li>
                                        <li>0-2 years of relevant project management experience.</li>
                                        <li>Proven ability to juggle multiple projects, make quick decisions, and possess excellent problem- solving skills</li>
                                        <li>Comfortable leading cross-functional teams</li>
                                        <li>Excellent organizational skills are must</li>
                                        <li>Must be comfortable with systems and data entry</li>
                                        <li>Relationship building and customer- facing skills</li>
                                    </ul>
                                    <p>The annual base salary range for this position is between $65,000 and $77,000.
                                    **This range is indicative of projected hiring range, however annual base salary will be determined based on a candidate’s work location, skills and experience.</p>
                                    <p>Don’t meet every single requirement? At Mattel we are dedicated to building a diverse and inclusive workplace, so if you’re excited about this role but your past experience doesn’t align perfectly with every qualification in the job description, we encourage you to apply anyway. You may be just the right candidate for this or other roles.</p>
                                    <p><strong>What It’s Like to Work Here:</strong></p>
                                    <p>We are a purpose driven company aiming to empower the next generation to explore the wonder of childhood and reach their full potential. We live up to our purpose employing the following behaviors:</p>
                                    <ul>
                                        <li>We collaborate: Being a part of Mattel means being part of one team with shared values and common goals. Every person counts and working closely together always brings better results. Partnership is our process and our collective capabilities is our superpower.</li>
                                        <li>We innovate: At Mattel we always aim to find new and better ways to create innovative products and experiences. No matter where you work in the organization, you can always make a difference and have real impact. We welcome new ideas and value new initiatives that challenge conventional thinking.</li>
                                        <li>We execute: We are a performance driven company. We strive for excellence and are focused on pursuing best in class outcomes. We believe in accountability and ownership and know that our people are at their best when they are empowered to create and deliver results.</li>
                                    </ul>
                                </body>
                            </html>">
                        </iframe>
                    </details>
                <hr>
                    <h5><strong>Senior Lead Model Maker</strong></h5>
                    <p>Spin Master Ltd</p>
                    <ul style="color:#808080">
                        <li><small>Ability to start from design illustrations, specifications, briefs and 2D isometric views to create 3D proof-of-concept assemblies and final models.</small></li>
                        <li><small>Highly skilled in CAD including 3D sculpting, texturing, photo-realistic product rendering (SolidWorks, Rhino, Z Brush, Blender or equivalent).</small></li>
                    </ul>
                    <details>
                        <summary><em>More...</em></summary>
                        <iframe width="100%" height="280" srcdoc="
                            <html>
                                <body>
                                    <b>What We’re Looking For:</b>
                                    <ul>
                                        <li>BA/ BS Degree in Engineering (Mechanical, Industrial) or related discipline</li>
                                        <li>0-2 years of relevant project management experience.</li>
                                        <li>Proven ability to juggle multiple projects, make quick decisions, and possess excellent problem- solving skills</li>
                                        <li>Comfortable leading cross-functional teams</li>
                                        <li>Excellent organizational skills are must</li>
                                        <li>Must be comfortable with systems and data entry</li>
                                        <li>Relationship building and customer- facing skills</li>
                                    </ul>
                                    <p>The annual base salary range for this position is between $65,000 and $77,000.
                                    **This range is indicative of projected hiring range, however annual base salary will be determined based on a candidate’s work location, skills and experience.</p>
                                    <p>Don’t meet every single requirement? At Mattel we are dedicated to building a diverse and inclusive workplace, so if you’re excited about this role but your past experience doesn’t align perfectly with every qualification in the job description, we encourage you to apply anyway. You may be just the right candidate for this or other roles.</p>
                                    <p><strong>What It’s Like to Work Here:</strong></p>
                                    <p>We are a purpose driven company aiming to empower the next generation to explore the wonder of childhood and reach their full potential. We live up to our purpose employing the following behaviors:</p>
                                    <ul>
                                        <li>We collaborate: Being a part of Mattel means being part of one team with shared values and common goals. Every person counts and working closely together always brings better results. Partnership is our process and our collective capabilities is our superpower.</li>
                                        <li>We innovate: At Mattel we always aim to find new and better ways to create innovative products and experiences. No matter where you work in the organization, you can always make a difference and have real impact. We welcome new ideas and value new initiatives that challenge conventional thinking.</li>
                                        <li>We execute: We are a performance driven company. We strive for excellence and are focused on pursuing best in class outcomes. We believe in accountability and ownership and know that our people are at their best when they are empowered to create and deliver results.</li>
                                    </ul>
                                </body>
                            </html>">
                        </iframe>
                    </details>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}